---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
    {% if page.description %}
      <meta name="description" content="{{page.description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width">
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.page_asides.size %}
    {% include_array page_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
